In [1]:
# Dependencies
import requests
import json
import pandas as pd

In [2]:
AirBnB_df = pd.read_csv('Resources/AB_US_2020.csv')
AirBnB_df

C:\Users\niraj\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.597790,-82.555400,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [3]:
#Clean Data
last_review = AirBnB_df.loc[:,'last_review']
AirBnB_df['last_review'] = AirBnB_df['last_review'].fillna('00/00/00')
AirBnB_df["last_review"].fillna('00/00/00', inplace = True)

AirBnB_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [ ]:
i=0
for date in last_review:
    if int(date[:2]) > 12:
        split_date = date.split('/')
        new_date = split_date[1] + '/' + split_date[0] + '/' + split_date[2]
        AirBnB_df.loc[i,'last_review'] = new_date
    else:
        next
    i = i + 1

AirBnB_df.head()

In [4]:
sales_state_df = pd.read_csv('Resources/Sale_Prices_State.csv')
sales_city_df.head()

,Unnamed: 0,RegionID,RegionName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,9,California,1,392500.0,373800.0,351800.0,334700.0,320100.0,306600.0,...,493000,491900,491600,493800,498400,505600,513500,518700,524400,NaN
1,1,54,Texas,2,139900.0,139300.0,137600.0,137400.0,137700.0,139500.0,...,226100,226700,228100,229400,232700,234700,236800,237200,239900,NaN
2,2,43,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,297000,298100,301700,295100,296000,297100,305400,308800,324800,342500.0
3,3,14,Florida,4,203400.0,195500.0,189300.0,184800.0,181700.0,178100.0,...,224600,226100,227000,228900,230800,234400,238100,243300,247600,NaN
4,4,21,Illinois,5,204400.0,198400.0,185000.0,177500.0,174300.0,176300.0,...,195900,192000,189500,188100,190000,191300,194600,195100,200200,210300.0